.login-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.login-title {
    text-align: center;
    color: rgb(70, 90, 121);
    font-size: 50px; 
    flex-wrap: wrap;
}

.login-field {
    text-align: center;
    margin: 10px;
    align-items: center;
    padding: 10px;
}

.login-label {

}

.login-form {
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

#login-submit {
    background-color: rgb(108, 78, 245);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;;
}

#login-submit:hover {
    background-color: rgb(64, 39, 175);
}