.assessments-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.assessment-card {
    border: 1px black solid;
    padding: 50px;
    margin: 0px;
    border-radius: 3px;
}