.recommendations-title {
  color: rgb(70, 90, 121);
  margin: 10px;
}
.dashboard {
  display: flex;
}

.recommendations {
  flex: 1;
  /* max-width: 50%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.empty-box {
  flex: 1;
}
