html {
    height: 100%;
}

.homepage {
    text-align: center;
    min-height: 100vh;
}

.info {
    width: 60%;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.big-info {
    color: rgb(70, 77, 87);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.small-info {
    padding: 20px;
    font-size: 30px;
}

footer {
    color: white;
    background-color: rgb(70, 90, 121);  
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 30px;
    position: sticky;
}

.laptop {
    flex: 1;
}

.mailing-list-form {
    width: 40%;
    margin: auto;
}

.mail-container {
    display: inline-block;
    width: 100%;
    margin: 20px;
    margin-bottom: 100px;
}

#mail-signup {
    background-color: rgb(108, 78, 245);
    color: white!important;
    border: none;
    padding: 4px;
}

#mail-signup:hover {
    background-color: rgb(64, 39, 175);
}